

<body>

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-sm-4 col-lg-offset-4">
				<!--<%= react_component 'FlashMessages', messages: flash_messages %>-->
				<%= react_component 'Main', messages: flash_messages %>
			</div>
		</div>
	</div>

</body>